:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: #f1f1f1;
  color: #0066ff;

  height: 4rem;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo-empresa {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
    }

    img {
      height: 4rem;
      width: auto;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    font-size: 1.2rem;

    li:hover {
      text-decoration: underline;
      cursor: pointer;
      font-size: 1.25rem;
      transition: font-size 0.2s;
    }
  }

  #contato-nav a {
    color: #0066ff;
    border: 3px solid #0066ff;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s;;

    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  #contato-nav a:hover {
    background-color: #0066ff;
    color: #f1f1f1;
  }
}

#container-apresentacao {
  padding: 2rem 5rem;
  height: 790px;
  background-color: #1e1e1e;
}